.squares {
    /*border: solid 2px black;*/
    background-color: white;
    padding: 0px;
    margin: 0px;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border: solid black 10px;
    align-content: flex-start;

}

body {
    display: flex;
    justify-content: center;
}

button {
    max-height: 40px;
}